body {
  background-image: url(pictures/eiche.jpg);
}

.card-custom {
  background-color: rgba(230, 230, 255, 0.5);

  border-radius: 5px;
  border-color: inherit;
  border-style: solid;
  border-width: 1px;

  padding-left: 10px;
  padding-right: 10px;
}

.current-player{
  background-color: rgba(179, 255, 179, 0.5);
}

#name-player-1, #name-player-2, #name-player-3, #name-player-4{
  font-size: 1.5rem;
  font-weight: bold;
  font-style: italic;
}

img:hover {
  transform: scale(1.1, 1.1);
}

.shake {
  animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
