.shake {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }
    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }
    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

.fade-out{
    animation: fade 0.6s linear 0s 1;
}

@keyframes fade {
	from {opacity: 1;}
	to {opacity: 0;}
}

.slide-in{
    animation: slide-left-to-right 0.6s linear 0s 1;
}
@keyframes slide-left-to-right {
	from {
        opacity: 0;
        position: relative;
        left: -92px;
        z-index: -1;
    }
	to {
        opacity: 1;
        position: relative;
        left: 0px;
    }
}

body {
    background-image: url('schwarz.jpg');
}

.deck {
    display: flex;
    flex-direction: column;
    flex-flow: row wrap;
    margin: 5px;
}

.img-fluid {
   width: 70px;
}

#imgDirection {
    width: 25px;
}

#nothing{
    font-size: 15px;

}

#firstcontainer{
    background: rgb(0, 0, 0, 1);
    text-align: center;
    color: whitesmoke;
    font: bold;
    padding: 20px;
}

#uno {
    font-size: 30px;
    font-weight: bold;
    animation-name: color-changing;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

@keyframes color-changing {
    from {color: rgb(102, 95, 95);}
  
    20% {color: #FFCD34;}
    40% {color: #009A00;}
    60% {color: #0066CB;}
    80% {color: #D30035;}
  
    to {color: rgb(102, 95, 95);}
  }

  
#namen{
    font-size: 20px;
}

#Spielcontainer{
  background-color: transparent;
}


#Seitenboard{
    background-color: rgb(0, 0, 0, 0.1);
    color: whitesmoke;
    position: relative;
}

.modal .modal-dialog .modal-content{  
    background-color:  rgba(179, 255, 179, 0.6); 
    border-color: black;
    color:white;
}
.form-control{
    background-color: rgb(201, 201, 201) ;
}


#playerNamesSubmit{
background-color: rgb(8, 59, 59);
color:whitesmoke;

}

.btn:hover{
    transform: scale(1.1, 1.1); 
    color:whitesmoke;
}


#draw{
    width: 70px;
}

#alertScore{
    position: relative; top: 0; right: 0;
}

#alertName{
    position:relative; top: 0; left: 0;
}


.testclass  {
    background-color: rgba(179, 255, 179, 0.5)
}

.Schrotflinte{
    background-color: rgba(230, 230, 255, 0.3);
}

.fadeOut{
    border-radius: 8px;

}
.fadeOut.end{
    transition: all 2s ease-in-out;
}

.slideIn {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}
.w3-animate-left{

    animation-duration: 4s;
}
.img-fluid:hover{

    transform: scale(1.1, 1.1);
}

#draw:hover{
    transform: scale(1.1, 1.1); 
}

